.app {
  padding: 15px;
}

.app-row {
  display: flex;
  margin: -7.5px;
}

.app-column {
  flex: 1;
  margin: 7.5px;
  padding: 15px;
}

.app-navigation {
  background-color: #ebf376;
}

.app-content {
  flex: 3;
  background-color: aliceblue;
  overflow-y: hidden;
}
