body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', Futura, sans-serif;
}

h1,
h2 {
  margin-top: 0;
}

pre {
  font-size: 1.2em;
  background-color: white;
  border: 1px dashed rgb(95, 178, 250);
  padding: 10px;
  display: inline-block;
}

.error-message {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.error-message:hover {
  text-decoration: underline;
}
