body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', Futura, sans-serif;
}

h1,
h2 {
  margin-top: 0;
}

pre {
  font-size: 1.2em;
  background-color: white;
  border: 1px dashed rgb(95, 178, 250);
  padding: 10px;
  display: inline-block;
}

button,
input,
select {
  border: 1px dashed rgb(95, 178, 250);
  outline: none;
  padding: 5px;
  margin: 5px;
}

button {
  background-color: rgb(95, 178, 250);
  color: white;
  padding: 5px 15px;
}

button:not(:disabled):hover {
  text-decoration: underline;
}

button:disabled {
  cursor: not-allowed;
}

.error-message {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.error-message:hover {
  text-decoration: underline;
}
